* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  background-color: #edf2f6;;
  display: grid;
  grid-template-columns: 225px 1fr;
}

aside {
  background: #3d4859;
  color: #9ba5b6;
  grid-column: 1;
  grid-row: 1;
  height: 101%;
}

a {
  text-decoration: none; 
}

.bar-graph {
  padding-bottom: 10px;
  padding-left: 15px;
}  

.profile {
  align-items: center;
  border-bottom: 2px solid #303747;
  display: grid;
  justify-items: center;
}

.profile-pic {
  border-radius: 50%;
  height: 90px;
  margin-top: 20px;
  width: 90px;
}

.profile-text {
  color: #fff;
  font-weight: 100;
  margin-left: 10px;
  padding-bottom: 8px;
  padding-right: 2px;
  text-decoration: none;
}

.side-container {
  border-bottom: 2px solid #303747;
  list-style-type: none;
  padding: 15px;
}  

.side-title {
  color: #677289;
  font-size: 1.0rem;
  font-weight: 400;
  padding: 10px 16px;
  text-decoration: none;
}

.item {
  margin: 15px 15px;
  text-decoration: none;
}

.text-color {
  color: #717d93;
}

.fas {
  color: #717d93;
  padding-right: 8px;
}

.check-yellow {
  color: #ffcf0c;
}

.check-blue {
  color: #24a6ff;
}

.check-red {
  color: #e61856;
}

.check-green {
  color: #00a07f;
}

.header {
  background: #fff;
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-columns: 70px 1fr 70px 70px 70px;
  height: 70px;
}

.header-item {
  align-items: center;
  border-right: 1px solid lightgray;
  display: flex;
  font-size: 17px;
  justify-content: center;
  Text-decoration: none;
}

.header-item:hover {
  animation-duration: 10000ms;
  animation-name: background-color;
  background-color: #139af9;
}

.input {
  border-style: none;
  color: rgb(113, 125, 147);
  font-weight: 700;
  padding: 10px;
  width: 100%;
}

.input__header {
  grid-column: 2/ 5;
} 

.job {
  align-items: center;
  background: #fff;
  padding: 0 40px;
}

.job-description-text {
  color: #fff;
  font-size: 20px;
  margin: 40px 0px 0px 0px;
  padding: 10px;
}

.job-title {
  color: #677289;
  font-weight: 400;
  padding-bottom: 5px;
  padding-right: 86px;
  padding-top: 40px;
}

.job-location {
  color: #677289;
  font-weight: 100;
}

.job-post {
  color: #5eaff4;
}

.job-menu {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.job-navigation-list {
  padding-bottom: 25px;
}

.button {
  border: 2px solid lightgrey;
  border-radius: 50%;
  color: #9ba3af;
  font-size: 14px;
  padding: 8px 10px;
}

.copy-button {
  background-color:#48b9bb;
  height: 40px;
  margin-top: 20px;
  width: 80px;
}

.link-input {
  width: 300px;
  height: 40px;
  padding-left: 25px;
}

.menu-buttons {
  background: none;
  border-radius: 100px;
  font-weight: 800;
  padding: 8px 20px;
  text-decoration: none;
}

.menu-item {
  margin-left: 15px;
}

.job-item {
  color: #9ba5b6;
  font-size: 13px;
  font-weight: 800;
  margin: 0;
  margin-right: 42px;
  padding-bottom: 23px;
}

.data {
  background: #edf2f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 20px 40px 10px;
}

.meters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 35px 0px 55px 0px;
}

.circle-chart {
  display: block;
  margin: 10px auto;
  max-height: 250px;
  max-width: 80%;
}

.circle {
  animation: progress 4s ease-out forwards;
  fill: none;
  stroke: #677289;
  stroke-linecap: round;
  stroke-width: 2.8;
}

@keyframes progress {
  0% {
    stroke-dasharray: 10 100;
  }
}

.circle-blue {
  stroke: #139af9;
}

.circle-purple {
  stroke: #a45ea5;
}

.circle-green {
  stroke: #4CC790;
}

.green-circle{
  color: #4CC790;
}

.data-buttons {
  display: flex;
  grid-column: span 2;
  justify-content: space-around;
}

.data-button {
  background: #ffff;
  border: 2px solid lightgray;
  border-radius: 100px;
  color: #677289;
  font-weight: 700;
  padding: 10px 40px;
}

.graph {
  background-position-x: 50%;
  background-size: 500px;
}

.table {
  border-collapse: collapse;
  background-color: #fff;
  height: 100%;
  margin: 20px;
  width: 90%;
}

hr {
  margin: 0px;
}

th {
  background-color: #677289;
  font-size: 0.6rem;
  padding: 20px 10px;
  width: 0px;
}

tr {
  border-bottom: 1px solid black
}

.table-container {
  display: grid;
  grid-template-columns: 1fr 30rem;  
}

.hiring-lead-img{
  align-items: center;
  border-radius: 50%;
  display: flex;
}

.social {
  color: #717d93;
  font-weight: 700; 
  padding: 10px;
}

.table-head {
  text-align: left;
}

.social-button {
  color: #fff;
  height: 50px;
  margin: 20px;
  width: 75%;
}

.social-facebook {
  background: #5170bb;
  padding-right: 15px;
}

.social-twitter {
  background: #49a9e9;
}

.social-linkedin {
  background: #357eb7;
}

.link-job {
  border-bottom: 1px solid #9ba5b6;
  color: #9ba5b6;
  padding: 30px 0px;
}

.link-description {
  color: #717d93;
  font-size: 1.2em;
  padding: 10px 0;
}

.edit-button {
  background-color: #303747;
  border:none;
  color: #fff;
  font-size: 15px;
  margin-left: 25px;
  padding: 5px;
}

.table-text {
  padding-left: 25px;
}

.table-text2 {
  color: #677289;
  padding-left: 25px;
}

.table-image-row {
  height: 85px;
}

.fa-pencil-alt {
  color: #677289;
}

.fab {
  padding-right: 70px; 
}

@media screen and (max-width: 1000px){
  aside {
    display: none;
  }
  
  section.job {
    width: 100vw;
  }

  header {
    width: 100vw;
  }

  .job-menu {
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  section.data {
    display: block;
    padding: none;
    width: 100vw;
  }

  .social-button {
   margin-left: 45px;
  }
  
  hr.hr {
    width: 100vw;
  }

  .table-container {
    display: block;
    width: 100vw;
  }

  .bar-graph {
    display: none;
  }

  .link-input {
    width: 60vw;
  }
  
  .data-button {
    display: none;
  }
}





